<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">404631060</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pikachuTestDB?useUnicode=yes&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Taipei&amp;allowPublicKeyRetrieval=true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- 2. 其他與資料存取有關的設定 -->
		<!-- 自動產生資料庫的Schema -->
		<property name="hbm2ddl.auto">update</property>
		<!-- 顯示實際操作資料庫時的SQL -->
		<property name="show_sql">true</property>
		<!-- 將顯示的SQL排版，方便觀看 -->
		<property name="format_sql">true</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 定義程式交易管理的類型，本範例使用JDBC Transaction -->
<!-- 		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> -->
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
		<!-- hibernate 相關效能設定 -->
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="connection_pool_size">8</property>

		<!-- 3. 宣告程式使用的Mapping檔 ，每個永續類別都需要定義一個Mapping檔 -->
		<mapping class="member.model.MemberBean"></mapping>
		<mapping class="listProduct.model.ProductBean"></mapping>
<!-- 		<mapping class="forum.model.FoumBean"></mapping> -->
<!-- 		<mapping class="forum.model.Launch_activityBean"></mapping> -->
<!-- 		<mapping class="forum.model.ResponserBean"></mapping> -->
	</session-factory>
</hibernate-configuration>