@import './reset.css';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One&display=swap);


body{
  font-family: 'Noto Sans TC', sans-serif;
  padding: initial;
}
  
  .flex-container {
    margin: 0 13%;  /* 全版置中 */
    text-align: center;    
    display: block;
    /* display: -webkit-flex; */
    display: flex;  
    /* -webkit-flex-flow: row wrap; */
    flex-flow: row wrap;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  .flex-container {
    margin: 0 13%;  /* 全版置中 */
    text-align: center;    
    display: block;
    /* display: -webkit-flex; */
    display: flex;  
    /* -webkit-flex-flow: row wrap; */
    flex-flow: row wrap;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  .flex-container > * {
    flex: 1 80%;
  }
  
  /* 分辨區塊位置 */
  
  .top_nav {background:#E8DFE1;}
  .index_slider{background-color: lightblue;}
  .site_footer {background: #F7EDE2;}
  
  
  /*頭區塊*/
  .header{
    height: 9rem;
    margin-top: 3%;
  }

  #Button2{
    border:0;
    background-color:#F2D470;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    font-size: 30px;
  }
  
  
  #Button2:hover{
    color:#F2D470;
    background-color:#fff;
    border:2px #F2D470 solid;
  }
  
  


  /* 尾巴位置 */
  .site_footer{
    text-align: center!important;
    padding: 4rem!important;
    margin-top: 10px;
    font-size: 18px;
  }
  
 /*導覽列*/

.top_navi {
  padding: 0.8em 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 40px;
  color: #E8DFE1;
  position:relative;
  padding-bottom: -2px;

}

.top_navi a {
  color: #584B53;
  text-decoration: none;
  font-size: 20px;
}

.top_navi nav{
  position:absolute;
  top:0;
  /* left:0; */
  background: #E8DFE1;
  width:100%;
}

/* 欄位大小 */
.top_navi nav a{
  padding:10px 60px;
  font-size-adjust: initial;
  display:inline-block;
}

/* 游標靠近時更改顯示 */
.top_navi nav a:hover{
  background:rgb(245, 223, 226);
  color:rgb(209, 107, 6)
}

.content_nav {
  padding: 3em 0;
  justify-content: space-between;
  font-weight: bold;
  /* background-color: #efefef; */
  font-size: 23px;
  color: #AFAFAE;
  border-radius: 5px;
  position:relative;
}

.content_nav a {
  color: #584B53;
  text-decoration: none;
}

.content_nav nav{
  position:absolute;
  top:0 auto;
  /* left:0; */
  background: rgb(255, 255, 255);
  width:100%;
}

/* 欄位大小 */
.content_nav nav a{
  padding:10px 50px;
  font-size-adjust: initial;
  display:inline-block;
}

/* 游標靠近時更改顯示 */
.content_nav nav a:hover{
  background:rgb(245, 223, 226);
  color:rgba(79, 127, 190, 0.733)
}

.bottom_content{
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: 20px;
}



/*個人基本資料標題區塊*/
.Memberinquary{
    background-color:#f4f4f4;
    height:80px;
    width: 100%;
    text-align: center;
    margin: auto auto 10px auto;
    float: left;
    font-size: 20px;
}

.Memberinquary h3{
   margin-top: 2%;
}

/*動畫區塊*/

.middle{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}


/*整個動畫區塊*/
.wrap{
  width: 600px;
  height: 650px;
}

.back h2{
  font-size: 30px;
  margin-top: 6%;
  margin-bottom: 3%;
}

/*詳細資訊內文*/
.personaldata{
  margin-top: 5%;
  font-size: 20px;
  height: 50%;
}


/*顯示會員帳號的文字*/
.front h3{
  margin-top: 6%;
  font-size: 20px;
}

/*顯示會員圖像*/
.photo{
  margin-top: 6%;
  text-align: center;
}

/*正面區塊*/
.front{
  transform: perspective(800px) rotateY(0deg);
  width: 450px;
  height: 550px;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 0 10px #2c3e50;
  transition: .8s;
  margin-left: 4%;
  margin-top: 2%;
  background: url(memberinquary_皮卡丘正.png);
}

/*反面區塊*/
.back{
  transform: perspective(800px) rotateY(180deg);
  width: 450px;
  height: 550px;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 0 10px #2c3e50;
  transition: .8s;
  margin-left: 4%;
  margin-top: 2%;
  background: url(memberinquary_皮卡丘反.png);
}

.wrap:hover .front{
    transform: perspective(800px) rotateY(-180deg);
}

.wrap:hover .back{
  transform: perspective(800px) rotateY(0deg);
}