@import './reset.css';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One&display=swap);

body{
  font-family: 'Noto Sans TC', sans-serif;
  padding: initial;
}

.flex-container {
  margin: 0 13%;  /* 全版置中 */
  text-align: center;    
  display: block;
  /* display: -webkit-flex; */
  display: flex;  
  /* -webkit-flex-flow: row wrap; */
  flex-flow: row wrap;
  font-family: 'Noto Sans TC', sans-serif;
}

.flex-container > * {
  flex: 1 80%;
}

/* 分辨區塊位置 */

.top_nav {background:#E8DFE1;}
.index_slider{background-color: lightblue;}
.site_footer {background: #F7EDE2;}


/*頭區塊*/
.header{
  height: 9rem;
  border-bottom: solid;
  border-width: 20px;
  border-color: #F7EDE2;

}

/*logo位置*/
.logoimg{
  margin-left: 20px;
  position: absolute;
}

/*整個區塊*/
.container{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
}

/* 尾巴位置 */
.site_footer{
  text-align: center!important;
  padding: 4rem!important;
  margin-top: 5px;
  font-size: 18px;
}

/*最上面文字*/
.toptext{
   font-size: 20px;
}

/*最上面區塊*/
.toparea{
  margin-top: 50px;
}

/*最上面連結登入字型*/
#memberlogin{
   font-size: 20px;
}

/*h1標題*/
.titleh1{
  font-size: 35px;
  color: #776C5B ;
}


/*表單中間整個區塊*/
.centerarea {
  margin-top: 20px;
  height: 57rem;
  color: #776C5B;
}

/*圖片區塊位置*/
.centerimg{
  float: left;
  margin-top: 20px;
}

/*表單區塊*/
.formtablearea{
   border:solid;
   border-color: #F7EDE2;
   float: left;
 
}


.table01{
  margin: auto;
  font-size: 18px;
  width: 300px;
}

.table01 th{
  text-align:right;
  heigh:50px;
}

.table01 td{
  text-align: left;
}


/*以下為驗證碼區塊*/
.v_code {
  width: 150px;
  margin: 0 auto;
}

.v_code > input 
{
  width: 100px;
  height: 36px;
  margin-top: 10px;
}

.code_show {
  overflow: hidden;
}

.code_show span {
  display: block;
  float: left;
  margin-bottom: 10px;
}
.code_show a {
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.code {
  font-style: italic;
  background-color:#EBF5FB;
  color: blue;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: bolder;
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
}
#inputCode {
  width: 150px;
  height: 30px;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #288bc4;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}


/*看不清楚換一張文字*/
#linkbt{
   font-size: 15px;
   margin-left: 60px;
   
}

/*按鈕樣式*/

#Button1{
  border:0;
  background-color:#776C5B;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  font-size: 23px;
  margin-bottom: 20px;
}


#Button1:hover{
  color:#776C5B;
  background-color:#fff;
  border:2px #776C5B solid;
}



/*寫字圖片*/

@keyframes myhand{

   0%{visibility: visible;}
   10%{margin-left: 20%;}
   15%{margin-left: 22%;}
   20%{margin-top: 22%;}
   25%{margin-left: 20%;}
   30%{margin-left: 22%;}
   35%{margin-top: 24%;}
   40%{margin-left: 20%;}
   45%{margin-left: 22%;}
   50%{margin-top: 26%;}
   55%{margin-left: 20%;}
   60%{margin-left: 22%;}
   65%{margin-top: 28%;}
   70%{margin-left: 20%;}
   75%{margin-left: 22%;}
   80%{margin-top: 30%;}
   85%{margin-left: 20%;}
   90%{margin-left: 22%;}
   95%{margin-top: 35%;}
   96%{visibility: hidden;} 
}


/*手的動畫*/
.handimg{
  position: absolute;
  float: left;
  margin-top: 20%;
  margin-left: 25%;
  visibility: hidden;
  animation-name:myhand ;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  width:450px;
  height:500px;
}