@import "./reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://use.fontawesome.com/releases/v5.0.4/css/all.css);
@import url(https://fonts.googleapis.com/css?family=FredokaOne&display=swap);


body {
    background: rgb(184, 178, 178);
    line-height: 1.15;
    font-family: "Noto Sans TC", sans-serif;
    height: auto;
    min-width: calc(752px);
    /* height: 3000px; */
  }

  .container {
    /* width: 100%; */
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    /* justify-content: center; */
  }

  .card_info {
    font-family: 'Roboto', Arial, sans-serif;
    width: 400px;
    overflow: hidden;   /*突出框框的部分隱藏不顯示 */
    margin: 10px;
    min-width: 530px;
    max-width: 615px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    line-height: 1.4em;
  /*   background-color: #141414; */
  }
  /* .card_info * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  } */
  
  /* 圖片滿框 */
  .card_info img {
    width: 100%;
  }
  .card_info figcaption {
    width: 100%;
    background-color: #141414;
    padding: 25px;
    position: relative;
  }
  /* 斜坡造型 */
  .card_info figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 700px;
    border-color: transparent transparent transparent #141414;
  }
  /* 下方兩個按鈕 */
  .card_info figcaption a {
    padding: 5px;
    border: 1px solid #eeda82;
    color: #eeda82;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .card_info figcaption a:hover {
    opacity: 1;
  }
  /* 會員頭像 */
  .card_info #memberid_img {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
  /*   opacity: 1; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .card_info .add {
    margin-right: 4%;
    border-color: #97cff5;
    color: #97cff5;
  }
  .card_info h2 {
    margin: 0 0 5px;
    font-weight: 300;
  }
  .card_info span {
    display: block;
    font-size: 0.8em;
    color: #2980b9;
  }
  .card_info p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  
