@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One&display=swap);

body{
  font-family: 'Noto Sans TC', sans-serif;
  padding: initial;
}
  
.flex-container {
    margin: 0 5%;  /* 全版置中 */
    text-align: center;    
    display: block;
    /* display: -webkit-flex; */
    display: flex;  
    /* -webkit-flex-flow: row wrap; */
    flex-flow: row wrap;
    font-family: 'Noto Sans TC', sans-serif;
}
  
.flex-container > * {
    flex: 1 80%;
}
  
/* 分辨區塊位置 */
  
  .top_nav {background:#E8DFE1;}
  .index_slider{background-color: lightblue;}
  .site_footer {background: #F7EDE2;}
  
  
/*頭區塊*/
  .header{
    height: 9rem;
    margin-top: 3%;
  }

/* 尾巴位置 */
  .site_footer{
    text-align: center!important;
    padding: 4rem!important;
    margin-top: 3%;
    font-size: 18px;
  }
  
/*導覽列*/

.top_navi {
  padding: 0.8em 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 40px;
  color: #E8DFE1;
  position:relative;
  padding-bottom: -2px;

}

.top_navi a {
  color: #584B53;
  text-decoration: none;
  font-size: 20px;
}

.top_navi nav{
  position:absolute;
  top:0;
  /* left:0; */
  background: #E8DFE1;
  width:100%;
}

/* 欄位大小 */
.top_navi nav a{
  padding:10px 60px;
  font-size-adjust: initial;
  display:inline-block;
}

/* 游標靠近時更改顯示 */
.top_navi nav a:hover{
  background:rgb(245, 223, 226);
  color:rgb(209, 107, 6)
}

.content_nav {
  padding: 3em 0;
  justify-content: space-between;
  font-weight: bold;
  /* background-color: #efefef; */
  font-size: 23px;
  color: #AFAFAE;
  border-radius: 5px;
  position:relative;
}

.content_nav a {
  color: #584B53;
  text-decoration: none;
}

.content_nav nav{
  position:absolute;
  top:0 auto;
  /* left:0; */
  background: rgb(255, 255, 255);
  width:100%;
}

/* 欄位大小 */
.content_nav nav a{
  padding:10px 50px;
  font-size-adjust: initial;
  display:inline-block;
}

/* 游標靠近時更改顯示 */
.content_nav nav a:hover{
  background:rgb(245, 223, 226);
  color:rgba(79, 127, 190, 0.733)
}


/*訂單查詢區塊*/
.ordertitle{
    background-color:#f4f4f4;
    height:6rem;
    text-align: center;
}

.ordertitle h2{
   font-size: 20px;
   margin-top: 2%;
}


/*這裡為輸入條件區塊*/
.orderone{
    background-color:#F7EFDC;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 20px;
}


/*查詢樣式*/
#Orderinquary_orderbutton{
    border:0;
    background-color:#776C5B;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size: 23px;
    margin-bottom: 20px;
  }
  
#Orderinquary_orderbutton:hover{
    color:#776C5B;
    background-color:#fff;
    border:2px #776C5B solid;
  }

  /*訂單編號輸入框位置調整*/
.orderinput{
    margin-right: 100%;
}

/*訂單編號輸入段落調整*/
.orderone p{
    margin-top: 2%;
}


/*這裡為顯示搜尋結果為有訂單時的區塊*/
.ordertwo{
 margin: auto;
 font-size: 20px;
}

.twotable{
    margin: auto;
    margin-top: 2%;
    background-color:#F7EFDC;
    margin-bottom: 2%;
}

.twotable tr td{
    border: solid 2px;
}


/*分頁位置調整*/
.return ul{
    width: 50px;
    margin: auto;
    margin-bottom: 2%;
     background-color:#F7EFDC;
}


/*返回樣式*/
.fobutton{
    border:0;
    background-color:#776C5B;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size: 23px;
    margin-bottom: 20px;
  }
  
.fobutton:hover{
    color:#776C5B;
    background-color:#fff;
    border:2px #776C5B solid;
  }


